.title-content {
  text-align: center;
  background-image: url('../assets/bg-texture.avif');
  background-position: center;
  color: white;
  margin: 20px 0;
  padding: 30px;
}
.Title {
  font-size: 45px;
  font-weight: 600;
}
.decoration {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  display: flex;
  width: 75px;
  border-top: 1px solid white;
  height: 15px;
}
.flower {
  margin: 10px;
  margin-top: 0;
  font-size: 30px;
  color: white;
}
