.footer {
  background: #000;
  padding: 10px 0px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: calc(100vw -10px);
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.social-medias {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-medias-icons {
  width: 20%;
  font-size: 40px;
  display: flex;
  justify-content: space-around;
}
.facebook {
  color: #1778f2;
}
.twitter {
  color: #1da1f2;
}
.instagram {
  color: #f00174;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
