@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.body-tab {
  margin-top: 90px;
  flex-grow: 1;
}
